@import "https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap";

/* src/styles.css */
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  color: #edddce;
}
.card,
.card-title,
.card-body,
.footer,
.dropdown-item,
.navbar-brand {
  color: #edddce;
}
.squealer {
  font-family: "Squealer", sans-serif;
}
.anton {
  font-family: "Anton", sans-serif;
}
* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #edddce;
}
a {
  color: #db1a1f;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.btn-danger {
  background-color: #db1a1f;
  transition: ease-in-out 0.3s;
}
.btn-danger:hover {
  background-color: #ff363d;
}
.btn-danger:active {
  background-color: #ac1a1f;
}
a:hover {
  color: white;
  text-shadow:
    0 0 10px #db1a1f,
    0 0 20px #db1a1f,
    0 0 30px #ff0000;
}
h1.huge {
  font-size: 15vw;
  text-shadow: 0 0px 45px black;
}
h2.huge {
  font-size: 5vw;
  text-shadow: 0 0px 25px black;
}
@media (max-width: 768px) {
  h1.huge {
    color: #edddce;
  }
}
.navbar.sticky-top {
  position: sticky !important;
  top: 0;
  z-index: 1050;
  background-color: #0d0f11;
}
.nav-item {
  transition: all 0.3 ease-in-out;
  color: #edddce;
}
.nav-link.active {
  color: #fff;
  text-shadow: 0 0 5px #e60000 !important;
}
.nav-link:hover {
  text-shadow: 0 0 5px #e60000 !important;
}
.glow-pulse {
  color: #e60000;
  text-shadow: 0 0 5px #e60000;
  animation: glowPulse 2s infinite;
}
@keyframes glowPulse {
  0% {
    text-shadow:
      0 0 5px #e60000,
      0 0 10px #e60000,
      0 0 20px #e60000;
  }
  50% {
    text-shadow:
      0 0 20px #ff1a1a,
      0 0 40px #ff1a1a,
      0 0 60px #ff1a1a;
  }
  100% {
    text-shadow:
      0 0 5px #e60000,
      0 0 10px #e60000,
      0 0 20px #e60000;
  }
}
.clickable {
  cursor: pointer;
}
.card {
  background-color: #131518;
}
.card-date {
  background-color: #0d0f11;
}
.btn-primary {
  background-color: #ff1a1a;
  transition: all ease-in-out 0.3s;
}
.shadow-hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.shadow-hover:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.image-text {
  font-size: 20vw;
  font-weight: bold;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}
.image-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: black;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 1);
  z-index: 0;
  pointer-events: none;
}
.bg-title {
}
.bg-grad {
}
.square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.credits {
  font-size: 70%;
}
.hero h1 {
  font-family: "Squealer", sans-serif;
  font-size: 5rem;
  color: #EDDDCE;
  -webkit-text-stroke: 1px black;
}
.hero h2 {
  font-family: "Squealer", sans-serif;
  font-size: 3rem;
  color: #EDDDCE;
  -webkit-text-stroke: 1px black;
}
.hero p {
  font-size: 1.5rem;
  margin-top: 10px;
}
.hero {
  position: relative;
  height: calc(100%);
  overflow: hidden;
}
.hero-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.hero-content {
  position: relative;
  z-index: 2;
  align-items: center;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: calc(50% - 50px);
  transform: translateY(-50%);
  width: 100%;
  padding: 1rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h2 {
    font-size: 1.2rem;
  }
}
.member-header {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 72.5px);
  max-height: calc(100vh - 72.5px);
  overflow: hidden;
}
.member-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.member-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #edddce;
  text-shadow: 0 0 30px black;
  font-size: 400%;
  white-space: nowrap;
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles.css.map */
